<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">



  <div class="container">

    <br>

      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Upcoming Movie Showings</h2>
              <p class="lead">Click on a showing in order to reserve your ticket.</p>
              
          </div>
      </div>
      <!-- /.row -->

      <table class="table table-striped">
        <thead >
          <tr>

          </tr>
        </thead>
        <tbody>

            <% @showings.each do |showing| %>
            <tr>

              <td><div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
                  <!-- <hr> -->
                  <h3><%= showing.title %></h3>
                  <h4><%= showing.time.localtime.to_formatted_s(:short)   %></h4>
                  <% if showing.seat_count > 0 %>
                    <%= link_to "Get Tickets", showing_path(showing), class: "btn btn-success"  %>
                  <% else %>
                    <h5><%= link_to "Sold Out", showing_path(showing), style: "color:red;" %></h5>
                  <% end %>

              </div></td>

            </tr>

          <% end %>
      
        </tbody>

      </table>

  </div>
</body>